<div id="welcome" class="span11">
  <div class="wwrapper">
    <h2 class="level_start">Rewards</h2>
    <% for r in @rewards %>
      <div class="span12 paddingt50">
        <h4><%= r.title %> </h4>
        <p><%= r.description.html_safe %> </p>

        <p><%= r.file_url %></p>

        <hr>
        <%= link_to "Download!", r.file_url, :class => 'btn btn-small' %>
      </div>
     <% end %>
   
  </div>
</div>
	