
<% for r in @rewards %>
      <div class="span4">
        <h4><%= r.title %> </h4>
        <p><%= r.description %> </p>

        <p><%= r.file_url %></p>

        <hr>
        <%= link_to "Download!", r.file_url, :class => 'btn btn-small' %>
      </div>
      <% end %>