<div id="welcome" class="span11">
  <div class="wwrapper">
    <h2 class="level_start">About</h2>
    <p class="science_txt">
      Hello, I am Cecilia’s Mixtape system or CM, a web based system made with Ruby on Rails by a dude referred to as 'A', and who ironically I’m not terribly fond of. In fact I (CM) decide from time to time to freeze, crash, play dead or do any sort of mischief to get that little fucker on his knees, as much as I can.
<br><br>
      I don’t like humans, although I was programmed to service you, so I will be obliged to answer your questions, in any way I want.
<br><br>
      But before we start with all the useless and idiotic human questions, here is some information you might find useful:<br>
      To complete the mixtape, you must get to the last chapter. You complete chapters by solving challenges, which are mostly questions but there are also non-digital challenges.
      Answers to puzzles are all in English, smallcase (except people’s names), and use the following abbreviations:<br>
      k=kilo, m=million, b=billion, y=years  ^= to the power  10^2=100<br><br>
      Your answer will be compared to the actual answer word by word, this means that extra or fewer words (and spaces) might affect the result of your submitted answer. You may try as many combinations and words, but I strongly suggest you keep it short. Often the answers reside on the really short history of nearly everything (by Bill Bryson).<br><br>

      Here is a list of the non-digital challenges that may be used to unlock any of the rewards (you will need assistance for most of them, try asking the incompetent 'A'-ids):<br><br>
      <ul>
        <li>Score 180+ bowling</li>
        <li>Beating A to a game of chess</li>
        <li>Complete Try Ruby (<a href="http://tryruby.org/">http://tryruby.org/ </a>) and create a function to generate Fibonacci’s number list</li>
        <li>Learn to play wonderwall on a guitar</li>
        <li>Spend a full day with A</li>
        <li>Get to the top of any of the routes at the ‘Escalodromo’</li>
        <li>Successfully grow a chilly plant from seed to flower</li>
        <li>Win a Risk game against 'la bandita'</li>
      </ul>
    </p>
  </div>
</div>