<div id="welcome" class="span12">

<h2 class="level_start">Welcome!</h2>
<p class="science_txt">
Welcome. And congratulations. I am delighted that you could make it. Getting here wasn't easy, I know. In fact, I suspect it was a little tougher than you realize.
<br>
To begin with, for you to be here now trillions of drifting atoms had somehow to assemble in an intricate and intriguingly obliging manner to create you. It's an arrangement so specialized and particular that it has never been tried before and will only exist this once. For the next many years (we hope) these tiny particles will uncomplainingly engage in all the billions of deft, cooperative efforts necessary to keep you intact and let you experience the supremely agreeable but generally underappreciated state known as existence.
</p>
<h3>Chapters</h3>
<% @levels.each do |level| %>
  <div class="span3">

    <h4><%= level.title %></h4>
    <p><%= level.shortd%></p>
   
    <% if current_user.clevel < level.num %>
    	<p class="plocked">Locked</p>
    <% else %>
      <p><%= link_to "Go!", levels_play_path(level), :class => 'btn btn-small' %></p>
    <% end %>
    
   
  </div>
<% end %>
</div>