.hand{font-family: 'Dawning of a New Day', cursive;}
.quando{font-family: 'Quando', serif;}
.marcelus{font-family: 'Marcellus SC', serif;}
.basker{font-family: 'Libre Baskerville', serif;}
.brand{
	font-family: 'Quando', serif;
	font-size: 30px;
}
h4{
	font-family: 'Marcellus SC', serif;
	font-size: 16px;
}

.sidebar-nav li{
	font-family: 'Marcellus SC', serif;
	font-size: 16px;
}
h2.level_start {
	font-family: 'Marcellus SC', serif;
	font-size: 20px;
}
.level_intro h3, #welcome h3, .puzzle_wrapper h3{
	font-family: 'Marcellus SC', serif;
	font-size: 16px;
	color: #333;
}
.level_intro h4{
	font-family: 'Marcellus SC', serif;
	font-size: 22px;
}
.level_intro p{
	font-family: 'Dawning of a New Day', cursive;
	font-size: 30px;
    line-height: 30px;
}
.level_intro a, p.plocked{
	font-family: 'Quando', serif;
	font-size: 12px;
}
.level_puzzles p{
	font-family: 'Quando', serif;
	font-size: 12px;
}
p.science_txt, .science_text, .puzzle_wrapper p{
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
    line-height: 24px;
}
.puzzle_wrapper{

}