.hand{font-family: 'Dawning of a New Day', cursive;}
.quando{font-family: 'Quando', serif;}
.marcelus{font-family: 'Marcellus SC', serif;}
.basker{font-family: 'Libre Baskerville', serif;}
.brand{
	font-family: 'Quando', serif;
	font-size: 30px;
}
.paddingt50{
	padding-top: 50px;
}
h4{
	font-family: 'Marcellus SC', serif;
	font-size: 16px;
}

.sidebar-nav li{
	font-family: 'Marcellus SC', serif;
	font-size: 16px;

	line-height: 35px;
}
.sidebar-nav li a{
	color: #1f63a4;

}

h2.level_start {
	font-family: 'Marcellus SC', serif;
	font-size: 20px;
}
.level_intro, .puzzle_wrapper, #welcome{
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.86);
	padding: 25px;
}
.level_intro h3, #welcome h3, .puzzle_wrapper h3{
	font-family: 'Marcellus SC', serif;
	font-size: 16px;
	color: #333;
}
.level_intro h4{
	font-family: 'Marcellus SC', serif;
	font-size: 22px;
}
.level_intro p{
	font-family: 'Dawning of a New Day', cursive;
	font-size: 30px;
    line-height: 45px;
    text-shadow: 0 1px 0 #F1F1F1;
}
.level_intro a, p.plocked{
	font-family: 'Quando', serif;
	font-size: 12px;
}
.level_puzzles p{
	font-family: 'Quando', serif;
	font-size: 12px;
}
p.science_txt, .science_text, .puzzle_wrapper p{
	font-family: 'Libre Baskerville', serif;
	font-size: 14px;
    line-height: 24px;
    text-shadow: 0 1px 0 #F1F1F1;
}
.puzzle_wrapper{

}

.puzzle_question .puzzleqtag{
	font-family: 'Quando', serif;
	font-size: 16px;
	text-shadow: -1px 1px 0 #F1F1F1;
}